doctype html
html
  head
    meta(charset="utf-8")
    style.
      #slidescreen canvas { display: block; border: 1px solid #333; }
  body
    div
      button(id="prev", onclick="goPrevious()") Previous
      button(id="next", onclick="goNext()") Next
      span(style="margin-left: 2em")
        | Page:
        span#page_num
        | /
        span#page_count
    #slidescreen(data-url=files_root + "/" + pdf_path)

    script(src="/static/js/pdf.js")
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/viewer.js")
